DECLARE @StartDate DATE = '9/1/2019'
DECLARE @EndDate DATE = '10/1/2019'
DECLARE @LastR4GenDate DATE
DECLARE @LastR41GenDate DATE

--1 - Item Create Date
--2 - Shelf Scan Record Historical Record
--3 - Shelf Scan Current Record
--4 - Transfer
--5 – Sale

SELECT 
	spi.LocationNo,
	t.isbn10,
	t.isbn13,
	t.title,
	t.author,
	lc.CatalogID,
	lc.ItemCode [ItemCodeSips],
	lc.First_RecordDate [DateInStock],
	CASE
		WHEN lc.LifeCycle_Complete = 0
		AND lc.LastEventType IN (2,3)
		THEN lc.First_ScanDate
		END [current_FirstScan],
	CASE
		WHEN lc.LifeCycle_Complete = 1
		AND lc.LastEventType = 5
		THEN lc.First_ScanDate
		END [historic_FirstScan],
	CASE
		WHEN lc.LifeCycle_Complete = 1
		AND lc.LastEventType = 4
		THEN lc.Last_RecordDate
		END [historic_TrashDate],
	lc.Sale_Price [RegisterPrice],
	lc.Last_SaleDate [SaleDate]
INTO #ScannedItems
FROM Buy_Analytics..ItemCode_LifeCycle lc
	INNER JOIN ReportsData..SipsProductInventory spi
		ON lc.ItemCode = spi.ItemCode
	INNER JOIN Catalog..titles t
		ON lc.CatalogID = t.catalogId
WHERE lc.First_RecordDate > '1/1/2019'


SELECT 
	si.LocationNo,
	si.CatalogId,
	si.ISBN13,
	si.title,
	si.author,
	COUNT(si.current_FirstScan) [qty_OnHand]
INTO #CurrentMultiples
FROM #ScannedItems si
GROUP BY si.LocationNo, si.CatalogId, si.ISBN13, si.title, si.author
--HAVING COUNT(si.current_FirstScan) = 1

SELECT 
	@LastR4GenDate = MAX(ba4.Date_Generated)
FROM Buy_Analytics..BuyAlgorithm_V1_R4 ba4

SELECT 
	@LastR41GenDate = MAX(ba41.Date_Generated)
FROM Buy_Analytics..BuyAlgorithm_V1_R41 ba41

SELECT 
	ba4.CatalogID,
	MIN(ba4.Chain_SuggestedOffer) [Chain_SuggestedOffer],
	MIN(ba4.Chain_Buy_Offer_Pct) [Chain_SuggestedOfferPct]
INTO #ba4ChainOffers
FROM Buy_Analytics..BuyAlgorithm_V1_R4 ba4
WHERE ba4.Date_Generated = @LastR4GenDate
GROUP BY ba4.CatalogID

SELECT 
	ba41.CatalogID,
	MIN(ba41.Chain_SuggestedOffer) [Chain_SuggestedOffer],
	MIN(ba41.Chain_Buy_Offer_Pct) [Chain_SuggestedOfferPct]
INTO #ba41ChainOffers
FROM Buy_Analytics..BuyAlgorithm_V1_R41 ba41
WHERE ba41.Date_Generated = @LastR41GenDate
GROUP BY ba41.CatalogID


SELECT DISTINCT
	bbh.CreateTime,
	bbh.LocationNo,
	bbi.ItemLineNo,
	cm.qty_OnHand,
	bbi.CatalogID,
	t.title,
	t.author,
	bbi.SuggestedOffer,
	bbi.Quantity,
	ISNULL(lba4.Location_SuggestedOffer, cba4.Chain_SuggestedOffer) [r4_SuggestedOffer],
	ISNULL(lba4.Location_Buy_Offer_Pct, cba4.Chain_SuggestedOfferPct) [r4_SuggestedOfferPct],
	ISNULL(lba41.Location_SuggestedOffer, cba41.Chain_SuggestedOffer) [r41_SuggestedOffer],
	ISNULL(lba41.Location_Buy_Offer_Pct, cba41.Chain_SuggestedOfferPct) [r41_SuggestedOfferPct]
INTO #ChangedOffers
FROM BUYS..BuyBinHeader bbh
	INNER JOIN BUYS..BuyBinItems bbi
		ON bbh.BuyBinNo = bbi.BuyBinNo
		AND bbh.LocationNo = bbi.LocationNo
	INNER JOIN Sandbox..LocBuyAlgorithms lba
		ON bbh.LocationNo = lba.LocationNo
		AND lba.VersionNo = 'v1.r4'
	LEFT OUTER JOIN Catalog..titles t
		ON bbi.CatalogID = t.catalogId
	LEFT OUTER JOIN Buy_Analytics..BuyAlgorithm_V1_R4 lba4
		ON bbi.CatalogID = lba4.CatalogID
		AND lba4.Date_Generated = @LastR4GenDate
		AND bbi.LocationNo = lba4.LocationNo
	LEFT OUTER JOIN Buy_Analytics..BuyAlgorithm_V1_R41 lba41
		ON bbi.CatalogID = lba41.CatalogID
		AND lba41.Date_Generated = @LastR41GenDate
		AND bbi.LocationNo = lba41.LocationNo
	LEFT OUTER JOIN #ba4ChainOffers cba4
		ON bbi.CatalogID = cba4.CatalogID
	LEFT OUTER JOIN #ba41ChainOffers cba41
		ON bbi.CatalogID = cba41.CatalogID
	INNER JOIN #CurrentMultiples cm
		ON bbi.CatalogID = cm.CatalogID
		AND bbi.LocationNo = cm.LocationNo
WHERE bbi.Scoring_ID IS NOT NULL
	AND bbh.CreateTime > @StartDate
	AND bbh.CreateTime < @EndDate
ORDER BY bbh.LocationNo, bbh.CreateTime

SELECT 
	co.r4_SuggestedOfferPct,
	SUM(co.Quantity) [count_r41OffersDecreased],
	CAST(SUM(CASE 
		WHEN co.r41_SuggestedOfferPct < co.r4_SuggestedOfferPct
		THEN co.Quantity
		END) AS FLOAT) / CAST(SUM(co.Quantity) AS FLOAT) [pct_R41OffersDecreased]
FROM #ChangedOffers co
WHERE	co.qty_OnHand >= 5
GROUP BY co.r4_SuggestedOfferPct
ORDER BY co.r4_SuggestedOfferPct DESC

SELECT
	co.qty_OnHand,
	co.r4_SuggestedOfferPct,
	SUM(co.Quantity) [count_r41OffersDecreased],
	CAST(SUM(CASE 
		WHEN co.r41_SuggestedOfferPct < co.r4_SuggestedOfferPct
		THEN co.Quantity
		END) AS FLOAT) / CAST(SUM(co.Quantity) AS FLOAT) [pct_R41OffersDecreased]
FROM #ChangedOffers co
WHERE co.r4_SuggestedOfferPct IS NOT NULL
GROUP BY co.qty_OnHand, co.r4_SuggestedOfferPct WITH CUBE
ORDER BY co.qty_OnHand, co.r4_SuggestedOfferPct DESC

DROP TABLE #ba4ChainOffers
DROP TABLE #ba41ChainOffers
DROP TABLE #ScannedItems
DROP TABLE #CurrentMultiples
DROP TABLE #ChangedOffers