/BuyMetrics_R3Reporting/BuyHeaderMetrics.csv
/BuyMetrics_R3Reporting/BuyItemMetrics.csv
/BuyMetrics_R3Reporting/BuyTypeMetrics.csv
/BuyMetrics_R3Reporting/RejectedBuyMetrics.csv
/TransactionAnalysis/TransactionAnalysis.csv