--MAX is used in the below to eliminate a few thousand duplicated ISBN/UPC combinations

INSERT INTO Buy_Analytics_Test.dbo.CatalogCompiledRankings
SELECT 
	c.catalogId,
	MAX(r.ISBN) [ISBN],
    MAX(r.UPC) [UPC],
    MAX(r.AmazonSalesRank) [AmazonSalesRank],
	MAX(r.HPBStoreSalesRank) [HPBStoreSalesRank],
	MAX(r.HPBOnlineMarketSalesRank) [HPBOnlineMarketSalesRank],
	MAX(r.NYTBestsellerRank) [NYTBestsellerRank], 
    MAX(r.LastUpdated) [LastUpdated],
	MAX(r.HPBStoreSalesCount) [HPBStoreSalesCount],
	MAX(r.HPBOnlineMarketSalesCount) [HPBOnlineMarketSalesCount]
FROM [ISIS].[dbo].[stats_CompiledRankings] r
	INNER JOIN Base_Analytics_Cashew.dbo.IdentifierToCatalogIdMapping c
		ON ISNULL(c.isbn, c.upc) = ISNULL(r.ISBN, r.UPC) 
WHERE c.CatalogID IS NOT NULL
	AND r.AmazonSalesRank > 0
GROUP BY c.CatalogID
ORDER BY c.CatalogID

