<!DOCTYPE html>
<html>
<head lang="en">
     <meta charset="UTF-8">
     <title>Suggested Offers Release 3 Report</title>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<link href="static/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<main role="main" class="container">

	<div class="starter-template">
		<div style="margin-top:50px;">
			<h2>Suggested Offers Report</h2>
			<h5 style='margin-left:30px;'>For suggested offers version 1, release 3</h5>
			<hr>
		</div>
		<div style="margin-top:30px; margin-left:75px;">
			<p>
				On 6/25/19, suggested offers version 1, release 3 was rolled out to 14 brick-and-mortar locations. 
				These locations were divided into two groups, "test group 1" and "test group 2", which will be referred to as such throughout this report. 
			</p>
			<p>These groups were given the following limitations: 
				<ul> 
					<li><b>Test group 1</b> was be asked to scan as much as possible and to accept the offer as 
					much as possible.</li>
					
					<li><b>Test group 2</b> was be asked to scan all HB’s, CDU, & DVD’s and accept all offers returned on these items.  
					There are exceptions to this rule, for example if there is a condition issue with the item or if there is something collectable about the item like a signature.
					</li>
				</ul>
			</p>
		</div>
		<hr>
		<div style="margin-top:75px; ">
			<h5>Effect of Release 3 on Buy Costs</h5>
			<script>var graphs = {{plot_LineChartAllOffers | safe}}</script>
			{{textdivs['div_avgoffers_all'] | safe}}
		</div>
		<div style="page-break-before: always">
			<script>var graphs = {{plot_LineChartSuggestedOffers | safe}}</script>
			{{textdivs['div_avgsuggoffers_all'] | safe}}
		</div>
		<div style="page-break-before: always">
			<script>var graphs = {{plot_BarChartScannedSuggested | safe}}</script>
			{{textdivs['div_PctScannedSuggested_ItemTypes'] | safe}}

		</div>
		<div style="page-break-before: always">
			<script>var graphs = {{plot_LineChartAvgSuggestedOffer | safe}}</script>
			{{textdivs['div_AvgSuggestedOffer_ItemTypes'] | safe}}
		</div>

		<div style="margin-top:75px; page-break-before: always">
			<h5>Buy Wait Times</h5>
			<script>var graphs = {{plot_LineChartAvgBuyWait | safe}}</script>
			{{textdivs['div_avgbuywait_all'] | safe}}
		</div>

		<div style="margin-top:75px; page-break-before: always">
			<h5>Rejected Buys</h5>
			<script>var graphs = {{plot_LineChartRejectedBuys | safe}}</script>
			{{textdivs['div_rejectedbuys_all'] | safe}}
		</div>

		<div style="margin-top:75px; page-break-before: always">
			<h5>Buy Scans and Offer Acceptance</h5>
			<script>var graphs = {{plot_PieChartAdjOffers | safe}}</script>
		</div>
		<div style="page-break-before: always">
			<script>var graphs = {{plot_BarChartQuantComp | safe}}</script>
			{{textdivs['div_ScanSuggestionComp'] | safe}}
		</div>
		<div style="page-break-before: always">
			<script>var graphs = {{plot_BarPlotAdjOffers | safe}}</script>
		</div>

	</div>	  
</main>	


</body>
</html>